.about {
    width: 100%;
    min-height: 100vh;
    background-color: var(--clr-primary);
    transition: background, color, .5s ease;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    &__image--container {
        width: 500px;
        max-width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover > .about__image {
            filter: grayscale(0);
        }
    }

    &__image {
        position: relative;
        filter: grayscale(100);
        z-index: 2;
        transition: filter .5s ease-in-out;
    }

    &__title--back,
    &__title--front {
        position: absolute;
        bottom: -10px;
        font-size: 4.5rem;
        font-weight: 900;
    }

    &__title--back {
        color: var(--clr-secondary);
        z-index: 1;
    }

    &__title--front {
        color: transparent;
        -webkit-text-stroke: 2px var(--clr-secondary);
        z-index: 3;
    }

    &__text--container {
        max-width: 100%;
        width: 500px;
        padding-inline: 2em;
        display: flex;
        flex-direction: column;

        & > p {
            color: var(--clr-secondary);
            font-size: .9rem;
            margin-top: 2em;
            font-weight: 400;
        }

        .about--button {
            display: flex;
            align-items: center;
            margin-bottom: 8em;
            margin-top: 4em;

            & a {
                color: var(--clr-secondary);
                font-size: .8rem;
                font-weight: 700;
                text-transform: uppercase;
                cursor: none;
                position: relative;
                margin-right: 3em;
            }

            & i {
                color: var(--clr-secondary);
                animation: leftpointer 2s linear infinite;

                @keyframes leftpointer {
                    0% {transform: translateX(0);}
                    50% {transform: translateX(-20px);}
                    // 100% {transform: translateX(0);}
                }
            }
        }
    }
}