// SCROLL DOWN CIRCLE STYLE
.circle-text {
    bottom: 30px;
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    display: grid;
    place-items: center;
    pointer-events: none;
    opacity: 1;
    transition: opacity 1s ease;

    & .text {
        color: var(--clr-secondary);
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotateText 20s linear infinite;

        @keyframes rotateText {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    
        & span {
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            font-size: .5rem;
            font-weight: bold;
            transform-origin: 0 45px;
        }
    }
}

.circle-dissappear {
    opacity: 0;
}

// CURSOR STYLE
.cursor {
    position: fixed;
    width: 15px;
    height: 15px;
    border: 1px solid var(--clr-secondary);
    background-color: transparent;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all .3s ease;
    transition-property: background, transform; 
    z-index: 5;

    &.cursor-dark {
        border: 1px solid #fff;
    }

}

.cursor-grow {
    background-color: var(--clr-cursor-bg);
    border: none;
    mix-blend-mode: difference;
    transform: scale(6);

}

.cursor-grow--second {
    background-color: var(--clr-cursor-bg);
    border: none;
    mix-blend-mode: difference;
    transform: scale(3);

}

// heading box for layer

.box {
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    width: 120px;
    height: 300px;
    background-color: var(--clr-primary);
    z-index: 2;
    transition: background .5s ease;
    margin-bottom: 2em;
}
// theme changer

.theme {
    background-color: transparent;
    display: grid;
    place-items: center;
    position: absolute;
    bottom: 50px;
    left: 1em;
    outline: none;
    border: none;
    transition: transform, opacity, 1s ease;
    padding: 1em;
    opacity: 1;
    cursor: none;

    &:focus {
        outline: 1px solid var(--clr-secondary);
        border-radius: 1rem;
    }
}

.moon,
.sun {
    background-color: transparent;
    position: absolute;
    cursor: none;
}

.moon {
    color: var(--clr-secondary);
    opacity: 1;
}

.sun {
    color: var(--clr-secondary);
    opacity: 0;
}

.theme-dissappear {
    opacity: 0;
    transform: translateY(100px);
}

// Works 

.works-divider {
    height: 2px;
    width: 70px;
    background-color: var(--clr-secondary);
    border-radius: 5px;
    margin-bottom: 3em;
}

// Navigation up-arrow

.up-arrow {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 30px;
}

.up-arrow-dark {
    filter: brightness(0) invert(1)
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: .9rem;
    position: absolute;
    bottom: 35%;
    z-index: 2;
    padding: .2em 1.5em;
    color: var(--clr-secondary);
    border: 2px solid var(--clr-secondary);
}
