.header {
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: transform .5s ease;

    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &__logo {
            color: var(--clr-secondary);
            position: relative;
            top: 3em;
            left: 2em;
        }

        &__list {
            width: 100%;
            height: 130vh;
            background-color: var(--clr-primary);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            position: absolute;
            top: -900px;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 1s cubic-bezier(.45,-0.11,.21,1.34);
            

            &.list-open {
                top: 350px;
            }

            &--items {
                font-size: 2rem;
                font-weight: bold;
                position: relative;
                z-index: 3;
            }

            &--links {
                text-transform: uppercase;
                letter-spacing: 3px;
                text-decoration: none;
                color: transparent;
                position: relative;
                cursor: none;
                -webkit-text-stroke: 1px var(--clr-secondary);

                &::after {
                    content: '';
                    width: 200px;
                    height: 2px;
                    background-color: rgba(0,0,0, 0.7);
                    position: absolute;
                    bottom: 0;
                    left: -15px;
                    transform-origin: left;
                    transform: scaleX(0);
                    transition: transform 1s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }

            .active-link {
                color: var(--clr-secondary);
            }
        }
    }

  
}

.header-dissappear { 
    opacity: 0;
}