@include hover-desktop {
    .main__social--links a:hover > * {
        transform: translateY(-5px);
        transition: transform .5s cubic-bezier(.45,-0.11,.21,2);
    }

    .works__bottom-text:hover {
        color: var(--clr-secondary);
        -webkit-text-stroke: 0px;
    }

    .works__item:hover > .works__item--icons {
        opacity: 1;
    }

    .works-dark .works__bottom-text:hover {
        color: var(--clr-primary);
        -webkit-text-stroke: 0px;
    }

}